.homeComponent{
    display: flex;
    width: 80%;
    background-color:blanchedalmond;
    margin: 50px auto;
    padding:10px;
}

.homeComponent p{
    font-weight:100;
}
.homeComponent img{
    border-radius:50%;
}